<h1 id = "h1ex"><center>Calendar</center></h1>
<link rel='stylesheet' href='fullcalendar/fullcalendar.css' />
<script src='lib/jquery.min.js'></script>
<script src='lib/moment.min.js'></script>
<script src='fullcalendar/fullcalendar.js'></script>
<script>
$(document).ready(function() {

  $('#calendar').fullCalendar({
    contentHeight: 450,

    events: [
      {
        title : "Bill Due",
        data : 250,
        start : "2016-05-16",
        repeat : 'monthly',
        allDay : true
      },
      {
        title : "Bill Due",
        data : 127,
        start : "2016-05-25",
        repeat : 'monthly',
        allDay : true
      },
      {
        title : "Bill Due",
        data : 150,
        start : "2016-05-01",
        repeat : 'monthly',
        allDay : true
      },
      {
        title : "Bill Due",
        data : 60,
        start : "2016-05-20",
        repeat : 'monthly',
        allDay : true
      },
      {
        title : "Bill Due",
        data : 50,
        start : "2016-05-09",
        repeat : 'monthly',
        allDay : true
      },
      {
        title : "Bill Due",
        data : 50,
        start : "2016-05-09",
        repeat : 'monthly',
        allDay : true
      },
      <% @bills.each do |bill| %>
      <% if (bill.expire_month <= Time.now.month) %>
      {
        title : "Bill Due",
        data : <%= bill.amount %>,
        start : "<%= "#{bill.year.to_s}-#{bill.month.to_s}-#{bill.day_month.to_s}" %>",
        repeat : 'monthly',
        allDay : true
      },
      <% end %>
      <% end %>
    ],
    dayClick: function() {
    $('#fullCalModal').modal();
    },
    eventRender: function (event, element) {
        element.attr('href', 'javascript:void(0);');
        element.click(function() {
            $("#value").html(event.data);
            $("#duedate").html(moment(event.start).format('MMM Do h:mm A'));
            $("#eventInfo").html(event.description);
            $("#eventLink").attr('href', event.url);
            $("#eventContent").dialog({ modal: true, title: event.title, width:350});
        });
    }
  });


})
</script>

<div id="eventContent" title="Event Details" style="display:none;">
    Bill Value: $<span id="value"></span><br>
    Due Date: <span id="duedate"></span><br><br>
    <p id="eventInfo"></p>
    <p><strong><a id="eventLink" href="/bills" target="_blank">Pay Bill</a></strong></p>
</div>

<div id='calendar'></div>

<!-- <div id="bootstrapModalFullCalendar"></div> -->

<div class="modal fade" id="fullCalModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-custom">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel"><font color="#ffffe6">Modal title</font></h4>
            </div>
            <div class="modal-body modal-body-custom">
              <div id="cal-bill-form">

              </div>
            </div>
            <div class="modal-footer">
      				<button type="button" id="save-bill" class="btn btn-primary" data-dismiss="modal">
      					Save changes
      				</button>
      				<button type="button" class="btn btn-black" data-dismiss="modal">
      					Close
      				</button>
      			</div>
        </div>
    </div>
</div>


<script>
    $('#fullCalModal').on('show.bs.modal', function(event) {
        // var button = $(event.relatedTarget)// Button that triggered the modal

        // button.data('url')// Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        modal.find('.modal-title').text('New Bill')
        $.ajax({
            url : "<%=bills_cal_new_path%>",
            type : "GET"
        });
    })

    $('#save-bill').click(function() {
        $("#calnew_bill").submit();

    })
</script>
</div>
