<h1><center>Calendar</center></h1>

<%= month_calendar events: @bills do |date, bills| %>
  <%= date %>

  <% bills.each do |bill| %>
    <div>
      <%= bill.amount %>
    </div>
  <% end %>
<% end %>
