<button type="button" class="btn btn-primary" onclick="window.location.href='<%= expense_references_path%>'">
	<span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Manage Expenses
</button>
<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Test budget update</button>
