
<div class = "row">
  <div class = "col-md-10">
    <h1><center>Compare Spending Over Months</center></h1>

    <!-- <div id="container2" style="width:100%; height:400px;"></div> -->
    <div id="bar" style="width:100%; height:400px;"></div>
  </div>
</div>
