<p id="notice"><%= notice %></p>

<div class = "row">
  <div class = "col-md-6">
    <!-- <div id="container2" style="width:100%; height:400px;"></div> -->
    <div id="pie1" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
  </div>
  <div class = "col-md-6">
    <!-- <div id="container2" style="width:100%; height:400px;"></div> -->
    <div id="pie2" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
  </div>
  <br>
</div>

<div class = "row">
  <div id="bar" style="width:100%; height:400px;"></div>
</div>
