<p id="notice"><%= notice %></p>

<h1>Listing Compare</h1>

<table>
  <thead>
    <tr>
      <th>Month</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <%=pie_chart @month1%>
    <%=pie_chart @month2%>
  </tbody>
</table>

<br>
<button onclick="goBack()">Back</button>

<script>
function goBack(){
  window.history.back();
}
</script>
