<h1><center>Compare</center></h1>

<select name="Month">


  <!--
    <%= options = options_from_collection_for_select(@expense, 'id', 'expenseid') %>
    <%= f.select :all_val,  options %> -->
    
</select>
