<h1><center>Dashboard</center></h1>
<p><center>This is where we'll have visuals & links to different features post-login</center></p>
<h3><center>Here are your options:</center></h3>

<p><center><%= link_to "Add Data", datas_add_path%> <%= link_to "Budget", budgets_display_path%></center></p>
