<h1><center>Welcome</h1>
<h2><center>YPPF: Young Professional Personal Finance</center></h2>
<p><center>Keep track of your expenses, income and help manage your money responsibly and effectively</center></p>

<p><center><%= link_to "Dashboard", dashboard_new_path%></center></p>
