<h1><center>Add Data</center></h1>
<p><center>This is where user can enter income, expenses, bills</center></p>
<h3><center>You can do either of the following:</center></h3>

<p><center>
  <%= link_to "Add Income", new_income_path%>
  <%= link_to "Add Expense", new_expense_path%>
  <%= link_to "Add Bill", new_bill_path%>
</center></p>

<center><%= link_to 'Back to Dashboard', dashboard_new_path %></center>
