/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 *= require jquery-ui
 *= require fullcalendar
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap/theme';

.navbar-custom {
   background-color: #ED6A5A;
}

.navbar-custom .navbar-header {
  color: #ffffe6;
}

.navbar-custom .navbar-nav > li > a {
  color: #ffffe6;
}

.navbar-custom .navbar-toggle {
  background-color: #eeeeee;
}

.alert-alert {
  @extend .alert-warning;
}

.alert-notice {
  @extend .alert-info;
}
.field_with_errors { display: flex; }

.bar-wrap {
    position: relative;
}
.progress-marker {
    width: 2px;
    height: 10px;
    position: absolute;
    background: black;
    bottom: -5px;
}
.time-axis {
    display: block;
    float: left;
    width: 100%;
    /*margin: 0px 0 10px 0;*/
}
.time-spot {
    display: block;
    float: left;
    width: 25%;
}

.time-spot-begin {
    display: block;
    float: left;
    width: 12.5%;
}

.time-spot-end {
    display: block;
    float: right;
    width: 12.5%;
}
