// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
html, body { background: #ffffe6; }

div{

    div img{
        width: 100%;
        height: 100%;
        /* OLD IE */
        zoom: 1;
    }
}
p{
  color: #241563;
  text-align: center;
}

h4{
  color: #241563;
  text-align: center;
}

.style_image {
  width: auto;
  height: auto;
  max-width: 300px;
  max-height: 200px
}
.brand_image {
  width: auto;
  height: auto;
  max-height: 50px
}


#style_image {
  width: auto;
  height: auto;
  max-width: 300px;
  max-height: 200px;
}

.btn {
  border-color: #ED6A5A;
  background-color: #ED6A5A;
  color: #ffffe6;

}

.btn-custom {
  border-color: #ED6A5A;
  background-color: #ED6A5A;
  color: #ffffe6 !important;

}

.btn-custom:hover {
  border-color: #ED6A5A;
  background-color: #ED6A5A;
  color: #ffffe6;

}
